.job-card {
  width: 700px;
  height: 130px;
  background-color: rgb(68, 68, 193);
  border-radius: 5px;
  padding: 24px;
  margin: 12px auto;
  border: 1px solid;
}

.job-card h3 {
  color: #000;
  letter-spacing: 1.5px;
}